<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Balance</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
  <!-- Add Balance Input Section -->
 <form action="/add-balance" method="POST">
  <div class="add-balance-card" id="addBalanceBox">
    <h3>Add Balance Amount</h3>
    <input type="number" name="amount" placeholder="Enter amount (₹)" required />
    <button type="submit" id="addBalanceBtn">Add Balance</button>
  </div>
</form>

</body>
</html>